/*
  Author: Marcel Timmerman
  License: ...
  Copyright: ...
*/

/*
body {
  background-color:     #ff8f30;
}
*/

h1 {
  font-size:            24px;
  font-weight:          normal;
  margin:               0px;
  overflow:             visible;
  padding:              0px;
  text-align:           center;
}

#mymap {
  height:               500px;
  width:                100%;
  margin:               2px;
}

/*
.ui-icon-people {
  background-image: url("images/a-icon-people.png");
  background-repeat: no-repeat;
}
*/
